#root {
  width: 100vw;
  margin-inline: 4em;
  @media screen and (max-width: 480px) {
    margin-inline: 1em;
  }
}

.header-wrapper {
  margin: 80px auto 60px;
  text-align: center;
}

.show-wrapper {
  margin-top: 30px;
}
